---
import '../styles/global.css'
import Header from "../components/Interface/Header";
import Footer from "../components/Interface/Footer";

// Supports weights 400-700
import '@fontsource-variable/caveat';
import '@fontsource/google-sans-flex';

const { description } = Astro.props;
const { title = "Udit Mahajan – Product Designer & Illustrator" } = Astro.props;
const currentPath = Astro.url.pathname;
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Logos/profile.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="title" content={title} />
        <meta name="description" content={description} />
	</head>
	<body>
      <Header currentPath={currentPath} client:only="react"/>
        <slot />
      <Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
